
body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #F5DEB3;
}

main {
  flex: 1 0 auto;
}

#button {
  align-content: center;
}
    

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#link {
  margin: 0%;
}

#linkRight {
  margin: 0%;
  float: right;
}

.showImg {
  height: 500px;
  width: 500px;
  background-size:cover;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;

}

/* label focus color */
.input-field input:focus + label {
  color: rgb(255, 139, 14) !important;
}

.input-field input {
  color:  rgb(243, 93, 10)!important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid rgb(255, 139, 14) !important;
  box-shadow: 0 1px 0 0 #F5DEB3 !important
}


.card-action a:hover {
  color: rgb(243, 93, 10) !important;
  }